body {
    background: url("../images/concrete_seamless.png");
    width: 960px;
    margin: 0 auto;
}

#contentName {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #4aaaa5;
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

#container1 { 
    margin-right: 15px;
}